


    .container{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        overflow:hidden;
        z-index:-1;
        background-color: #333333;
    }
    
    .box-menu-admin{
       
        margin-top: 5vh;
        min-height: 70vh;
        padding: 2vh;
        background-position: left top;
        background-repeat: no-repeat;
        margin-left: 2vw;
        background-size: contain;
        min-width: 700px;
        max-width: 950px;
        background-color: #E2DACF;
        display: flex;
        
    }

    .btn-admin{
        display: flex;
        min-width: 24vw;
        padding: 5px;
    }

    .admin-item{
        margin-left: 10px;
    }

    thead, tbody{
        display: block;  
      }
      
      tbody{
        overflow-y: scroll;
        height: 70vh;
        }

    th, td {
        padding: 20px;
        text-align: left;
    }
    
    tr:hover {background-color: #f5f5f5;}
   
    .notDone{
        background-color: #FF8E8E;
    }
    .done{
        background-color: #9FF2AC;
    }
    







