.container-mission{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:auto;
    
    background-color: #EFE8DD;
}

h1{
  max-width: 270px;
  font-size: initial;
}

.box-container{
      background-image:url('../../assets/pasta_nova.png');   
     
      padding: 2vh;
      background-position: left top;
      background-repeat: no-repeat;
      background-size: contain;
      width: 95vw;
      height: 100vh;
      display: flex;
      /* justify-content: start; */
      flex-direction: row;

}

.area{
  min-width: 240px;
  /*background-color: darkblue;*/
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.left-area{
  max-width: 480px;
 
 opacity: 0.5;
}

@media(max-height: 600px){
  .right-area{
    padding-left: 35px;
    padding-top: 5vh;
  }
}

.right-area{
  padding-left: 35px;
  padding-top: 5vh;
}
@media(min-height: 600px){
  .right-area{
    padding-left: 80px;
  }
}


.btns{
  text-align: left;
  z-index: 5;
  margin-left: 19vw;
}

.mission-content{
  margin-top: -35px;
}

.mission-mounth{
  margin-bottom: 25px;
}

.mission-list{
  height: 73vh;
    overflow-y: auto;
    width: 32vw;
    max-height: 330px;
    max-width: 300px;
}

.mission-element {
    
  }

.mission-number{
    

    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
  
}

.mission-area{
    
}

.anex-btn, .save-btn{
  z-index: 5;
  margin: 5px;
}

.anex-btn{
  background-image:url('../../assets/btn-anex.png');
  background-size: cover;
  width: 60px;
  height: 25px;
}

.save-btn{
  background-image:url('../../assets/btn-salvar.png');
  background-size: cover;
  width: 58px;
  height: 25px;
  
}

textarea{
    background-color: #EDDEAD;
    width: 23vw;
}

.mission-btns{
  display: flex;
  flex-direction: row;  
  margin-top: -35px;
}

.btn-back{
  content:url('../../assets/btn-back.png');
  width: 7vw; 
  
}












/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #DBCDA0; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9E9373; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CEC198; 
}








  
  